/* >>> file start: stc/core/components/headertabs.css */
/*
Colors

Weight: -3

Colors:
$white: #FFFFFF - white
$black: #000000 - black
$gray-pure-dark: #333333 - gray-pure-dark
$gray-pure-darker: #5B5F61 - gray-pure-darker
$gray-pure-middle: #7D7F7F - gray-pure-middle
$gray-pure-light: #D8D8D8 - gray-pure-light
$gray-pure-smoke: #F9FAFA - gray-pure-smoke
$gray-stone-darker: #838B8E - gray-stone-darker
$gray-stone-darker-2: #8C969B - gray-stone-darker-2
$gray-stone-middle: #BEC3C6 - gray-stone-middle
$gray-stone-middle-2: #D0D1D5 - gray-stone-middle-2
$gray-stone-middle-3: #DfE0E4 - gray-stone-middle-3
$gray-stone-lighter: #E5E6E9 - gray-stone-lighter
$gray-stone-lighter-2: #EDEDF3 - gray-stone-lighter-2
$gray-stone-smoke: #F6F6F9 - gray-stone-smoke
$gray-blue-darker: #7A9199 - gray-blue-darker
$gray-blue-darker-2: #829399 - gray-blue-darker-2
$gray-blue-middle: #A8B3B9 - gray-blue-middle
$gray-blue-middle-2: #ABBBC2 - gray-blue-middle-2
$gray-blue-middle-3: #BDC8CD - gray-blue-middle-3
$gray-blue-lighter: #C7D4DA - gray-blue-lighter
$gray-blue-lighter-2: #C8D4DA - gray-blue-lighter-2
$gray-blue-lighter-3: #D4DCE0 - gray-blue-lighter-3
$gray-blue-light: #DCE1E4 - gray-blue-light
$gray-blue-light-2: #DAE3E6 - gray-blue-light-2
$gray-blue-lightest: #E5EBEE - gray-blue-lightest
$gray-blue-smoke: #F5F7F8 - gray-blue-smoke
$blue-deepest: #003040 - blue-deepest
$blue-deeper: #00394D - blue-deeper
$blue-deep: #004359 - blue-deep
$blue-muted-darker: #007399 - blue-muted-darker
$blue-muted: #3A87AD - blue-muted
$blue-muted-smoke: #D9EDF7 - blue-muted-smoke
$blue-base-dark: #0086B3 - blue-base-dark
$blue-base-darker: #0996C5 - blue-base-darker
$blue-base: #00A3D9 - blue-base
$blue-base-lighter: #00C0FF - blue-base-lighter
$blue-sky: #76DBEF - blue-sky
$red-pure: #FF0000 - red-pure
$red-pure-smoke: #FFEFEF - red-pure-smoke
$red-base-darker: #CB1427 - red-base-darker
$red-base: #EC3434 - red-base
$red-base-lighter: #FF3838 - red-base-lighter
$red-darksalmon: #FF4C44 - red-darksalmon
$yellow-sand: #C09853 - yellow-sand
$yellow-smoke: #FCF8E3 - yellow-smoke
$green-grass: #468847 - green-grass
$green-emerald-darker: #34AD66 - green-emerald-darker
$green-emerald: #39BF71 - green-emerald
$green-emerald-lighter: #4ECA82 - green-emerald-lighter
$green-smoke: #DFF0D8 - green-smoke
$brands-facebook: #3B5A97 - brands-facebook
$brands-twitter: #1CA1F1 - brands-twitter
$brands-vk: #4E76A1 - brands-vk
$brands-ok: #F47421 - brands-ok

Style guide: Core.colors
*/

/*
Lightness steps

midnight
darkest
dark
darker
middle
lighter
light
lightest
smoke
*/

/*
Mixins

Weight: -2

Style guide: Core.mixins
*/

/*
capsText

Gray text with caps. Usually used in table headers & labels for inputs

Style guide: Core.mixins.capsText
*/

/*
visually-hidden

Hides element for users & keep it available for screenreaders

Style guide: Core.mixins.visually-hidden
*/

/*
Header Tabs

Extends core/components/tabs

Need angular to display & work correctly

Js: htdocs/js/misc/tabs.js

Directive tabs is needed to make dropdown work on mobile

Markup:
<div
  class="headertabs"
  tabs>
  <ul
    class="headertabs__list"
  >
    <li class="headertabs__item headertabs__item--current">
      <a class="headertabs__item-link" href="#">Is there</a>
    </li>
    <li class="headertabs__item">
      <a class="headertabs__item-link" href="#">anybody</a>
    </li>
    <li class="headertabs__item">
      <a class="headertabs__item-link" href="#">out there?</a>
    </li>
  </ul>
</div>

Style guide: Core.headertabs
*/

/* Tabs
------------------------------ */

.headertabs {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.headertabs__item {
  position: relative;
  }

.headertabs__item--current {
  border: 1px solid #DAE3E6;
  border-bottom-width: 0;
  background: #FFF;
  box-shadow: 0 1px 0 #FFF;
  pointer-events: none;
  cursor: default;
  color: inherit;
}

@media (max-width: 450px) {

  .headertabs__item--current .community-manage__tab-link {
    color: #829399
  }
}

.headertabs__item-link {
  display: block;
  padding: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 12px;
  }

.headertabs__item--current .headertabs__item-link {
  color: #333333;
}

.headertabs__item-counter {
  position: relative;
  display: inline-block;
  min-width: 24px;
  margin-left: .5em;
  padding: 0 5px;
  box-sizing: border-box;
  text-align: center;
}

.headertabs__item-counter::before {
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  bottom: -3px;
  left: 0;
  background: currentColor;
  border-radius: 10px;
}

.headertabs__item-counter-text {
  position: relative;
  color: #FFF;
}

/* <<< file end: stc/core/components/headertabs.css */

/*# sourceMappingURL=headertabs.css.map */
